.assetPage {
  width: 90%;
  margin: 4rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.assetSummaryContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.assetCard {
  background: #a2b49c33;
  border-radius: 8px;
  padding: 12px 32px;
  min-width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  color: #333;
}

.assetCard.inactive {
  background: #ffe7a6;
}

.assetCard.download {
  background: #8fa2b8;
  color: #fff;
  justify-content: center;
  cursor: pointer;
}

.assetTableWrapper {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.asset-details-background {
  position: fixed;
  background-color: rgba(143, 162, 184, 0.24);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}
