.nav-bar{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 35px 10px;
    width: 15%;
    border-right: 2px solid #EEDDEE;
}
.logo-link{
    display: flex;
    justify-content: center;
}
.logo{
    width: 50%;
}
.navigation{
    display: flex;
    flex-direction: column;
    gap: 10px;
}